*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrap{
    width: 100%;
    margin: 0 auto;

}
#root{
 text-align: center;
}

h3{
    color:black;
    margin: 0;
}
#title{
    color:purple ;
}

body {
    background-color: #ECEFF1;
}

ul{
    display: inline-block;
    width: 300px;
}

li{
    text-align: left;
}

#container {
    width: 300px;
    display: inline-block;
    padding: 0 20px;
}
span{
    color: black;
}

.btn{
    margin-bottom: 10px;
    width: 100px;
    color: #ffff00;
    padding: 0;

}

.appli{
    float: left;
    margin-left: 50px;
}
